* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  color: #959595;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.42;
}

h1, h2 {
  font-size: 2.57em;
  font-weight: 500;
}

h3 {
  margin: 20px 0 10px 0;
  font-size: 1.71em;
  font-weight: 500;
}

button, input, a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.fluid-image{
  display: block;
  max-width: 100%;
  height: auto;
}

.paragraph {
  margin-bottom: 10px;
}

.form-button {
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  color: #101010;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-input{
  display: inline-block;
  height: 34px;
  margin-bottom: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* ///////////////////      HEADER     //////////////////////////  */
.main-header{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #222;
}

.main-menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 1.28em;
}

.logo img {
  display: inline-block;
  margin: -6px 5px 0 0;

  height: 21px;
  width: 18px;
}

.menu-list {
  color: #9d9d9d;
}

.menu-item-selected {
  background: #080808;
}

.menu-item-selected a {
  color: #fff;
}

/*//////////////////    Engagement  //////////////////////////////////// */
.engagement-container{
  padding-top: 50px;
  background: #9acd32;
  color: #adff2f;
  margin-bottom: 30px;
}

.engagement-wrapper{
  padding: 30px 15px;
}

.engagement-header{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 20px 0 15px 0;
}

.engagement-caption {
   margin-bottom: -7px;
}

.engagement-image {
  display: inline-block;
  max-width: 36px;
  max-height: 43px;
  margin-right: 13px;
}

.engagement-description {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.42;
}

.engagement-button {
  display: inline-block;
  padding: 7px 13px;
  background: #fff;
  line-height: 1.4;
  color: #333;
  border: 0;
  border-radius: 4px;
  white-space: nowrap; 
}

/*//////////////////    Superior  ////////////////////////////////////     */

.superior-container{
  overflow: hidden;
}

.superior-caption {
  margin: 40px 0 20px 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.superior-caption-main {
  color: black;
}

.superior-caption-secondary {
    font-size: 65%;
}

/*//////////////////    Variants  ////////////////////////////////////     */

.variants-header {
  color: #337ab7;
}

.variants-block {
  margin-bottom: 25px;
}

/*//////////////////    Prefooter  ////////////////////////////////////     */

.prefooter-container{
  padding: 30px 0;
  color: #000;
  background: #daa520;
}

.prefooter-block {
  padding: 30px 15px;
}

.prefooter-caption-logo{
  width: 24px;
  height: 24px;
}

/*//////////////////    Footer  ////////////////////////////////////     */

.footer-wrapper {
  padding: 30px 0;
}

.footer-list {
  display: flex;
  justify-content: flex-start;

}

.footer-list-link {
  color: #337ab7;
}

.footer-list-item::after {
  content: "|";
  margin: 0 4px;
}

.footer-list-item-last:after {
  content: "";
}

@media(max-width: 768px)  /* MOBILE*/
{
  .form-search {
    padding: 10px 15px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  .form-input{
    width: 100%;
  }

  /* ///////////////////      HEADER     //////////////////////////  */
  .navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 32px;
    border: 1px solid #333;
    border-radius: 4px;
  }

  .navigation-button img {
    display: block;
    width: 30px;
    height: 20px;
  }

  .main-navigation {
    display: none;
  }

  .navigation-button:hover + .main-navigation {
    display: initial;
  }

  .main-navigation {
    position: absolute;
    width: 100%;
    top: 41px;
    left: 0px;
    line-height: 1.42;
    padding-bottom: 10px;
    background: #222;
    border-top: 1px solid #101010;
  }

  .menu-list {
    padding: 7px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #101010;
  }

  .menu-item{
    padding: 10px 15px;
  } 

  .menu-item-selected {
    background: #080808;
  }

  .menu-item-selected a {
    color: #fff;
  }
}



@media (min-width: 768px) /* Tablet */
{
  .container {
    max-width: 720px;
    margin: 0 auto;
  }

  /* ///////////////////      HEADER     //////////////////////////  */
  .main-menu{
    justify-content: flex-start;
  }
  
  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu-list{
    display: flex;
    justify-content: space-between;
  }

  .menu-item{
    display: flex;
    align-items: center;
  }

  .menu-item a {
    padding: 17px 15px;
  }
  
  .navigation-button {
    display: none;
  }

  /*//////////////////    Engagement  //////////////////////////////////// */
  .engagement-wrapper{
    padding: 48px 15px;
  }
   
  .engagement-caption {
    font-size: 4.5em;
    margin-bottom: -12px;
  }

  .engagement-image {
    max-width: 63px;
    max-height: 74px;
    margin-right: 20px;
  }

/*//////////////////    Prefooter  //////////////////////////////////// */
  .prefooter-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .prefooter-block {
    width: 33.3%;
  }

  .prefooter-block-first{
    padding-left: 0;
  }

  .prefooter-block-last{
    padding-right: 0;
  }
}

@media (min-width: 991px) /* Desktop */
{
  .container{
    max-width: 940px;
  }

  .variants-container{
    display: flex; 
    justify-content: space-between;
  }

  .variants-block {
    width: 33.33%;
  }

   .variants-block {
    padding: 0 15px;
  }

  .variants-container .variants-block:first-child {
    padding-left: 0;
  }

  .variants-container .variants-block:last-child {
    padding-right: 0;
  }
}


@media (min-width: 1200px) /* wide desktop */
{
  .container{
    max-width: 1140px;
  }
}